<?xml version="1.0" encoding="utf-8"?>
<Content Key="13b2c01e-b801-4583-964e-83a41f2d4ee5" Alias="My product" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/MyProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2025-10-21T15:05:55</CreateDate>
    <NodeName Default="My product" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="13a2039a-b622-45eb-99e3-7585a791aeee">Product</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "853c45a4-ae12-4392-9d6c-5682cd39f270",
      "key": "aa77077c-4e65-4d5c-bdae-1eb852a13241",
      "udi": null,
      "values": [
        {
          "alias": "productName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example product"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "afaea57e-0779-4c1c-9cf4-1ea2b2f0fc8a",
      "key": "2b160f20-f651-424d-84ff-64277902f95c",
      "udi": null,
      "values": [
        {
          "alias": "toggleSetting",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 1
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "aa77077c-4e65-4d5c-bdae-1eb852a13241",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "aa77077c-4e65-4d5c-bdae-1eb852a13241",
        "contentUdi": null,
        "settingsKey": "2b160f20-f651-424d-84ff-64277902f95c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
  </Properties>
</Content>