<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5e4bb2b-5677-4a97-90ae-71138291f0ef" Alias="[NestedContent] Nested Elements" Level="1">
  <Info>
    <Name>[NestedContent] Nested Elements</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9783696a-1599-4c57-b538-aba9d7e0ad46",
      "label": "",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>