<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0301c98e-1511-4f19-83dc-c2d1843e2133" Alias="Product - Blocks - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Product - Blocks - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "853c45a4-ae12-4392-9d6c-5682cd39f270",
      "settingsElementTypeKey": "afaea57e-0779-4c1c-9cf4-1ea2b2f0fc8a"
    }
  ]
}]]></Config>
</DataType>